@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
html,body{font-family: "Noto Sans KR", sans-serif; color: #333;}
.container{width: 100%; height: 100%; position: relative;}
.bg{position: absolute; width: 100%; height: 100%; background-repeat: repeat; background-color: #ebd18c;}


.wrap{display: flex; width: 100%; height: 100vh; position: relative;} 
.header{width: 20%; display: flex; flex-direction: column; justify-content: space-between; box-sizing: border-box; padding: 10vw 5vw 5vw; z-index: 5; background-color: #ff7f50;}
.logo>a{font-size: 14px;}
.logo>p{font-size: 30px; font-weight: 500;}
.copyright{font-size: 12px; font-weight: 500; line-height: 18px;}
.copyright>p{font-size: 16px; line-height: 22px;}

.contents{width: 80%; display: flex; padding-top: 15vh; box-sizing: border-box;}
.box{flex: 1; padding: 100px 40px; cursor: pointer; transition: all 0.5s; position: relative;}
.box .inner{height: 100%; display: flex; flex-direction: column; justify-content: space-between; position: relative;}
.txtbox>p:nth-child(1){font-size: 1.5vw; font-weight: 400; transition: all 0.5s; line-height: 20px;}
.txtbox>p:nth-child(1)>span{font-size: 1vW;}
.txtbox>p:nth-child(1)::after{content: ""; display: block; width: 4px; height: 4px; border: 1px solid #fff; margin: 10px 0; background-color: #fff; transition: all 0.5s;}
.txtbox>p:nth-child(2){margin-top: 25px; font-size: 0.7vw; font-weight: 300; transition: all 0.5s;}

.box video{width: 100%; height: 15vh; object-fit: cover; filter: saturate(20%); transition: all 0.5s; z-index: 1;}

.box:hover{flex: 1.3; padding: 70px 40px;}
.box:hover .txtbox>p:nth-child(1){font-size: 2vW; color: #fff;}
.box:hover .txtbox>p:nth-child(1)::after{width: 10vW;}
.box:hover .txtbox>p:nth-child(2){font-size: 0.8vW; color: #fff;}
.box:hover video{height: 20vh; filter: saturate(100%);}

.box::before{position: absolute; content: ""; display: block; width: 80%; height: 96%; background-color: #ff7f50; left: -100px; top: 0; opacity: 0; transition: all 0.7s;}
.box:hover::before{left: 0; opacity: 1;}

.page{position: absolute; left: 20%; top: 0; width: 80%; height: 100vh;
background-color: #ff7f50; z-index: 10; display: flex; padding: 20vh 5vw 7vh; box-sizing: border-box; justify-content: space-between; transition: all 1s;}
.page_title{width: 30%; padding: 40px; padding-right: 60px;}
.page_title>p:nth-child(1){font-size: 3vw; margin-bottom: 20px;}
.page_title>p:nth-child(2){font-size: 0.9vw; font-weight: 300; margin-bottom: 30px;}
.close{font-size: 1.3vw; padding: 2px; object-fit: cover;}
.page video{width: 70%;}

.active{left: 20%;}


/*미디어쿼리*/

@media all and (min-width:767px) and (max-width:1280px){
    .wrap{flex-wrap: wrap; align-content: flex-start; height: auto; min-height: 100vh; }
    .header{width: 100%; height: 100px; padding: 0; justify-content: center;align-items: center;}
    .logo>a{display: block; text-align: center;}
    .contents{width: 100%; height: auto; padding: 0; flex-wrap: wrap;}
    .copyright{display: none}
    .box{width: 50%; flex: auto;  box-sizing: border-box;}
    .box:hover{flex: auto;}
    .txtbox>p:nth-child(1){font-size: 3vw;}
    .txtbox>p:nth-child(1)>span{font-size: 2vW;}
    .txtbox>p:nth-child(2){font-size: 1.2vw; box-sizing: border-box; padding-bottom: 20px;}

    .box:hover .txtbox>p:nth-child(1){font-size: 3.5vW; color: #fff;}
    .box:hover .txtbox>p:nth-child(2){font-size: 1.4vW; color: #fff;}
    .box:hover video{height: 22vh;}    
}

@media all and (max-width:766px){
    .wrap{flex-wrap: wrap; align-content: flex-start; height: auto; min-height: 100vh; }
    .header{width: 100%; height: 100px; padding: 0; justify-content: center; align-items: center; box-sizing: border-box; background-color: #ebd18c;}
    .logo>a{display: block; text-align: center;}
    .contents{width: 100%; height: auto; padding: 0; flex-direction: column;}
    .copyright{display: none}
    .box{width: 90%; flex: auto;  box-sizing: border-box;}
    .box:hover{flex: auto;}
    .txtbox>p:nth-child(1){font-size: 5vw;}
    .txtbox>p:nth-child(1)>span{font-size: 3vW;}
    .txtbox>p:nth-child(2){font-size: 2.5vw;box-sizing: border-box; padding-bottom: 20px;}

    .box:hover .txtbox>p:nth-child(1)::after{width: 20vW;}
    .box:hover .txtbox>p:nth-child(1){font-size: 6vW; color: #fff;}
    .box:hover .txtbox>p:nth-child(2){font-size: 3vW; color: #fff;}
    .box:hover video{height: 22vh;}    
}

@media all and (max-width:1280px){
    .page{width: 100%; position: fixed; left: 0; height: 100%; flex-direction: column; box-sizing: border-box; justify-content: center; align-items: center; padding: 0;}
    .page_title{display: block;text-align: center;}

    .page_title>p:nth-child(1){font-size: 6vw; margin-bottom: 20px;}
    .page_title>p:nth-child(2){font-size: 4vw; font-weight: 300; margin-bottom: 30px;}
    .close{font-size: 3vw; padding: 2px; object-fit: cover;}
    .page video{width: 90%; max-width: 700px; min-width: 300px;}
}
